
$text1:"Roboto", sans-serif ;
$text2: "Open Sans", sans-serif ;
$lightGray : #E2E8F0 ;
$white : #fff ; 
$lightBlue : #2486ef ;
$darkBlue : #00001a ;
$black  : #000000 ;
$grey : rgba(85, 81, 81, 0.704);
$lightGreen : #C6F6D5 ;
$darkGreen : #38A169 ;
$lightRed : #fae0e0 ;
$darkRed : #E53E3E ;
$transparent: rgba(255, 255, 255, 0.08) ;